*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
    padding: 10px;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.links{
    list-style: none;
}

.navigation{
    text-decoration: none;
    color: black;
}

.logo{
    text-transform: uppercase;
    font-size: 1.5rem;
}

.navigation:hover{
    color: white;
}