*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}

html{
    scroll-behavior: smooth;
}

.menu-btn, .close-btn{
    display: none;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
}

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.links{
    list-style: none;
}

.context{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.context:hover{
    color: red;
    border-bottom: solid 1px red;
}

.logo{
    text-transform: uppercase;
    font-size: 1.5rem;
    color: red;
    border-bottom: red 1px solid;
    margin-bottom: 10px;
}

.items img{
    width: 200px;
    height: 250px;
}

.project{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.project-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    margin: 10px;
}

.items{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid 1px red;
    box-shadow: 0 0 10px;
    border-radius: 10px;
    object-fit: cover;
    padding: 10px;
}

.btn{
    color: white;
    background: none;
    border: solid 1px red;
    width: 150px;
    height: 30px;
    margin: 10px;
    background-color: red;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 0 10px;
}

.btn:hover{
    background: none;
    color: red;
    box-shadow: none;
}

.container{
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.content{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}

.preview{
    width: 400px;
    height: 500px;
    margin-top: 40px;
}

.content-logo{
    text-transform: uppercase;
    color: red;
    font-size: 2rem;
}

.btn-2{
    color: white;
    background: none;
    border: solid 1px red;
    border-radius: 10px;
    box-shadow: 0 0 10px red;
    width: 200px;
    height: 30px;
    background-color: red;
    transition: 0.5s;
    cursor: pointer;
}

.btn-2:hover{
    background: none;
    box-shadow: none;
    color: red;
}

@media (max-width: 600px) {
    body{
        overflow-x: hidden;
       }
      .nav-links{
        position: fixed;
        top: 0;
        right: -100%;
        width: 250px;
        height: 100vh;
        background: rgb(44, 38, 38);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        transition: 0.5s;
      }

      .nav-links.active{
        right: 0;
      }

      .menu-btn{
        display: block;
        cursor: pointer;
        background: none;
      }

      .close-btn{
        cursor: pointer;
        display: block;
      }

      .logo{
        font-size: 1rem;
        background: none;
      }

      .home-1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
      }

      .navbar{
        z-index: 999;
        background: none;
      }

      .project-1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100vh;
      }
      
      .project-1 img{
        border-radius: 10px;
        width: 100px;
        height: 100px;
      }

      .project{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150vh;
      }

      .preview{
        width: 300px;
        height: 300px;
      }
       
      .btn{
        width: 100px;
        height: 20px;
      }

      .items{
        padding: 5px;
      }
}